*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#main {

}
.text-white{
    color:#fff !important;
}
.clear{
    clear:both;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    height: 46.5px;
    background-color: #000;
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    z-index: 1;

}
#nav {
    display: inline-block;
}
#nav .subnav{
    display: none;
    background-color: #fff;
    position: absolute;
    list-style-type: none;
    min-width: 160px;
    box-shadow: 0 0 12px rgba(0,0,0,0.5);
}
#nav li{
   
    position: relative;
}
#nav li:hover .subnav{
    display: block;
}
#nav>li{
    display: inline-block;
}
#nav li a{
    text-decoration: none;
    line-height: 46.5px;
    
   
}
.subnav li a{
    color:#000;
    display: block;
    padding: 0 14px;
}
#nav>li>a{
    color:#fff;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 24px;
}
#nav >li:hover> a,.subnav li:hover a {
    color:#000;
    background-color: #ccc;
}
#header .header-search{
    display: inline-block;
    float: right;
    padding: 0 23px
}
#header .header-search:hover{
   background-color :#f44336;
   cursor: pointer;
}
.header-search i {
    display:inline-block ;
    color: #fff;
    line-height: 46.5px;
}


#slider {
    position: relative;
    margin-top: 46.5px;
    padding-top: 50%;
    background: url('/assets/img/slider/slider1.jpg') top center /cover no-repeat;
    
}



#slider .slider-text{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 32px 16px;

}

#slider .slider-heading{
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    margin: 10px 0;

}

#slider .slider-sub-heading{
    color: #fff;
    font-size: 15px;
    margin: 16px 0;

}


#content {

}

#content .section-content {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 8px;

}

#content .heading-section {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
    margin: 10px 0;

}

#content .heading-sub-section {
    text-align: center;
    font-size: 15px;
    font-style: italic;
    margin: 15px 0;
    opacity: 0.6;

}
#content .about{
    margin: 15px 0;
    font-size: 15px;
    line-height: 1.5;
    text-align: justify;


}
#content .member-band{
    padding: 32px 0;
}
.member-band .member-list {
    float:left;
    width: 33.3333%;
    text-align: center;

}

.member-band .member-name {
    margin: 15px 0;

}
.member-band .member-img{
    width: 154px;
    border-radius: 4px;
    margin: 0 0 16px;
}
.tour-section{
    background-color: #000;
}
.section-content .tour-ticket{
    background-color: #fff;
    margin-top: 25px;
}
.book-ticket{
    font-size: 15px;
    list-style-type: none;
}
.book-ticket li{
    padding: 8px 16px;
    color:#757575;
    border-bottom: 1px solid #ddd;
}
.book-ticket .sold-out{
    color:#fff;
    background-color: #f44336;
    padding: 3px 4px;
    margin-left: 16px;
   
}
.book-ticket .quantity{
    float: right;
    color: #fff;
    background-color: #000;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -2px;
}
.tour-place {
    padding: 32px 0;
    margin-left: -8px;
    margin-right: -8px;
  

}

.place-list {
    float: left;
    width: 33.3333%;
    padding: 0 8px;

}

.place-img {
   

}

.place-body {
    background-color: #fff;
    color: #000;
    padding: 8px 16px;
    font-size: 15px;

}
.place-img{
    display: block;
    width: 100%;
}
.place-img:hover{
    opacity: 0.6;
}

.place-name {
    
    font-weight: 700;
    font-size: 15px;
    margin: 15px 0;

}

.place-time {
    opacity: 0.6;
    margin: 15px 0;

}

.place-discription {
    margin: 15px 0;

}

.book-ticket-tour {
    margin: 0 0 15px;
    color: #fff;
    background-color: #000;
    display: inline-block;
    padding: 8px 16px;
}
.book-ticket-tour:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}
.contact-information{
    font-size: 18px;
    float: left;
    line-height: 1.6;
    display: inline-block;
    width: 50%;
}
.contact-information span{
    padding-left: 16px;
}


.contact-frame{
    padding: 32px 0;
}
.contact-information i{
    width:30px ;
    height:18px ;
}
.input-information{
    display: inline-block;
    width: 50%;
}
.input-information input {
    padding: 8px ;
}
.heading-input{
    
}
.name-frame{
    display: inline-block;
    width: 49%;
}
.name-frame input{
    width: 100%;
}

.email-frame{
    display: inline-block;
    width: 49%;
    float: right;
}
.email-frame input {
    width: 100%;
}
.message-frame{
    padding: 8px 0;
}
.message-frame input {
    width: 100%;
}
.send-btn {
    float:right;
    background-color: #000;
    color: #fff;
    padding: 8px 12px;
}
.send-btn:hover{
    color:#000;
    background-color: #ccc;
    cursor: pointer;
}
.section-img{
    padding-top: 56%;
    background: url('./assets/img/street_view/map.jpg') top center /cover no-repeat;
}
.body-footer {
    padding: 64px 16px;
    text-align: center;
    font-size: 15px;
    opacity: 0.6;
}
.sponsor-name{
    margin: 15px 0;
}
.sponsor-name a{
    color:#000;
}
.icon-list i{
    font-size: 24px;
}
.icon-list i:hover{
    opacity: 0.6;
    cursor: pointer;
}

#footer {

}
